body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#game {
    width: 400px;
    height: 300px;
    /* width: 800px; */
    /* height: 600px; */
    background-color: black;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#paddle-left,
#paddle-right {
    width: 10px;
    height: 50px;
    background-color: white;
    position: absolute;
}

#paddle-left {
    left: 0;
}

#paddle-right {
    right: 0;
}

#ball {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
}