body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#game {
    /* width: 400px;
    height: 300px; */
    width: 800px;
    height: 600px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
}

#game::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    left: 50%;
    top: 0;
    margin-left: -1px;
    border-left: 2px dashed white;
}

#paddle-left,
#paddle-right {
    width: 10px;
    height: 50px;
    background-color: white;
    position: absolute;
}

#paddle-left {
    left: 0;
}

#paddle-right {
    right: 0;
}

#ball {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
}

#scores {
    position: relative;
    top: 10px;
    right: 10px;
    color: white;

    font-size: 75px;
    font-family: 'Montserrat', sans-serif;
}

#player1-score {
    position: absolute;
    left: 25%;
    top: 10px;
}

#player2-score {
    position: absolute;
    right: 25%;
    top: 10px;
}